# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache

# Flask cache
flask_session/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Docker
*.log
docker-compose.yml
docker-compose.override.yml

# Logs
*.log

# Local env files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

results/

data/